/* body {
  background-color: red;
} */

/* .hideDetails {
  visibility: hidden;
} */

#navLogo {
  height: 50px;
  width: 50px;
}

/* ----------
JUMBOTRON
-----------*/

#jumbotron {
  background: rgb(253, 29, 29);
  background: linear-gradient(90deg, rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 100%, rgba(180, 58, 58, 1) 100%);
  color: white;
}

/* ----------
DotW
-----------*/
.card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ----------
DotD
-----------*/
#dotdImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
